<html>
    <head>
        <link href='css/bootstrap.min.css' type='text/css' rel='stylesheet'>
        <link href='css/styles.css' type='text/css' rel='stylesheet'>
        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <div class='well'>
                <div class='wrapper text-center'>
                    <h2>You have successfully cleared your address book.</h2>
                </div>
                <hr>
                <a href='/'><button class='btn btn-primary btn-home' type='button'>Return Home</button></a>
            </div>
        </div>
    </body>
</html>
