<html>
    <head>
        <title>Address Book</title>
    </head>
    <body>
        <h1>Address Book</h1>
        <h2>You have successfully cleared your address book.</h2>
        <p><a href='/'>Return Home</a></p>
    </body>
</html>
